
function Main.main 1
call SquareGame.new 0
pop local 0     // game
push local 0     // game
call SquareGame.run 1
pop temp 0     // do call
push local 0     // game
call SquareGame.dispose 1
pop temp 0     // do call
push constant 0
return

function Main.test 4
// calculating if condition expression
push constant 0 
not
if-goto ELSE_0
pop local 2     // s
push pointer 0 
pop local 2     // s
push constant 1 
pop local 3     // a
add
pop pointer 1 
pop local 3     // a
push constant 2 
add
pop pointer 1 
push that 1 
pop that 0 
goto FINISH_0
label ELSE_0
push local 0     // i
push local 1     // j
neg
call Math.multiply 2
pop local 0     // i
push local 1     // j
push constant 2 
neg
call Math.divide 2
pop local 1     // j
push local 0     // i
push local 1     // j
pop local 0     // i
label FINISH_0
push constant 0
return
