function Square.new 0function Square.dispose 0function Square.draw 0function Square.erase 0function Square.incSize 0function Square.decSize 0function Square.moveUp 0function Square.moveDown 0function Square.moveLeft 0function Square.moveRight 0