
function Square.new 0
push constant 3 
call Memory.alloc 1
pop pointer 0     // set this pointer
push argument 0     // Ax
pop this 1     // x
push argument 1     // Ay
pop this 2     // y
push argument 2     // Asize
pop this 3     // size
push pointer 0 
call Square.draw 1
pop temp 0     // do call
push pointer 0 
return

function Square.dispose 0
push argument 0 
pop pointer 0 
push pointer 0 
call Memory.deAlloc 1
pop temp 0     // do call
push constant 0
return

function Square.draw 0
push argument 0 
pop pointer 0 
push constant 1 
neg
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 1     // x
push this 3     // size
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
push constant 0
return

function Square.erase 0
push argument 0 
pop pointer 0 
push constant 0 
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 1     // x
push this 3     // size
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
push constant 0
return

function Square.incSize 0
push argument 0 
pop pointer 0 
// calculating if condition expression
push this 2     // y
push this 3     // size
add
push constant 254 
lt 
push this 1     // x
push this 3     // size
add
push constant 510 
lt 
and 
not
if-goto ELSE_0
push pointer 0 
call Square.erase 1
pop temp 0     // do call
push this 3     // size
push constant 2 
add
pop this 3     // size
push pointer 0 
call Square.draw 1
pop temp 0     // do call
label ELSE_0
push constant 0
return

function Square.decSize 0
push argument 0 
pop pointer 0 
// calculating if condition expression
push this 3     // size
push constant 2 
gt 
not
if-goto ELSE_1
push pointer 0 
call Square.erase 1
pop temp 0     // do call
push this 3     // size
push constant 2 
sub
pop this 3     // size
push pointer 0 
call Square.draw 1
pop temp 0     // do call
label ELSE_1
push constant 0
return

function Square.moveUp 0
push argument 0 
pop pointer 0 
// calculating if condition expression
push this 2     // y
push constant 1 
gt 
not
if-goto ELSE_2
push constant 0 
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 3     // size
add
push constant 1 
sub
push this 1     // x
push this 3     // size
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
push this 2     // y
push constant 2 
sub
pop this 2     // y
push constant 1 
neg
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 1     // x
push this 3     // size
add
push this 2     // y
push constant 1 
add
call Screen.drawRectangle 4
pop temp 0     // do call
label ELSE_2
push constant 0
return

function Square.moveDown 0
push argument 0 
pop pointer 0 
// calculating if condition expression
push this 2     // y
push this 3     // size
add
push constant 254 
lt 
not
if-goto ELSE_3
push constant 0 
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 1     // x
push this 3     // size
add
push this 2     // y
push constant 1 
add
call Screen.drawRectangle 4
pop temp 0     // do call
push this 2     // y
push constant 2 
add
pop this 2     // y
push constant 1 
neg
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 3     // size
add
push constant 1 
sub
push this 1     // x
push this 3     // size
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
label ELSE_3
push constant 0
return

function Square.moveLeft 0
push argument 0 
pop pointer 0 
// calculating if condition expression
push this 1     // x
push constant 1 
gt 
not
if-goto ELSE_4
push constant 0 
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 3     // size
add
push constant 1 
sub
push this 2     // y
push this 1     // x
push this 3     // size
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
push this 1     // x
push constant 2 
sub
pop this 1     // x
push constant 1 
neg
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 1     // x
push constant 1 
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
label ELSE_4
push constant 0
return

function Square.moveRight 0
push argument 0 
pop pointer 0 
// calculating if condition expression
push this 1     // x
push this 3     // size
add
push constant 510 
lt 
not
if-goto ELSE_5
push constant 0 
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 2     // y
push this 1     // x
push constant 1 
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
push this 1     // x
push constant 2 
add
pop this 1     // x
push constant 1 
neg
call Screen.setColor 1
pop temp 0     // do call
push this 1     // x
push this 3     // size
add
push constant 1 
sub
push this 2     // y
push this 1     // x
push this 3     // size
add
push this 2     // y
push this 3     // size
add
call Screen.drawRectangle 4
pop temp 0     // do call
label ELSE_5
push constant 0
return
