function Square.new 0
function Square.dispose 0
call Memory.deAlloc 1
pop temp 0 // do call
push constant 0
return

function Square.draw 0
push constant 0
neg
call Screen.setColor 1
pop temp 0 // do call
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 0
return

function Square.erase 0
call Screen.setColor 1
pop temp 0 // do call
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 0
return

function Square.incSize 0
add
push constant 254
add
push constant 510
push constant 2
add
push constant 0
return

function Square.decSize 0
push constant 2
push constant 2
push constant 0
return

function Square.moveUp 0
push constant 1
call Screen.setColor 1
pop temp 0 // do call
add
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 2
push constant 0
neg
call Screen.setColor 1
pop temp 0 // do call
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 0
return

function Square.moveDown 0
add
push constant 254
call Screen.setColor 1
pop temp 0 // do call
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 2
add
push constant 0
neg
call Screen.setColor 1
pop temp 0 // do call
add
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 0
return

function Square.moveLeft 0
push constant 1
call Screen.setColor 1
pop temp 0 // do call
add
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 2
push constant 0
neg
call Screen.setColor 1
pop temp 0 // do call
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 0
return

function Square.moveRight 0
add
push constant 510
call Screen.setColor 1
pop temp 0 // do call
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 2
add
push constant 0
neg
call Screen.setColor 1
pop temp 0 // do call
add
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0 // do call
push constant 0
return

