
function Main.main 1
push local 0 
pop local 0     // game
push local 0     // game
call SquareGame.run 1
pop temp 0     // do call
push local 0     // game
call SquareGame.dispose 1
pop temp 0     // do call
push constant 0
return

function Main.test 4
// calculating if condition expression
push local 0 
not
if-goto ELSE_0
push local 0 
pop local 2     // s
push local 1 
pop local 2     // s
push local 0 
push local 1 
pop local 3     // a
goto FINISH_0
label ELSE_0
push local 0 
pop local 0     // i
push local 1 
pop local 1     // j
push local 0 
push local 1 
pop local 0     // i
label FINISH_0
push constant 0
return
