function Main.main 4
call Keyboard.readInt 1
pop local 1 
push local 1
call Array.new 1
pop local 0 
push constant 0
pop local 2 
label WHILE_0_EXP
// calculating condition expression
push local 2
push local 1
not
if-goto WHILE_0_END
push local 2
call Keyboard.readInt 1
pop local 0 
push local 2
push constant 1
add
pop local 2 
label WHILE_0_END
push constant 0
pop local 2 
push constant 0
pop local 3 
label WHILE_1_EXP
// calculating condition expression
push local 2
push local 1
not
if-goto WHILE_1_END
push local 3
push local 2
add
pop local 3 
push local 2
push constant 1
add
pop local 2 
label WHILE_1_END
call Output.printString 1
pop temp 0 // do call
push local 3
push local 1
call Output.printInt 1
pop temp 0 // do call
call Output.println 0
pop temp 0 // do call
push constant 0
return

