
function Keyboard.init 0
push constant 0
return

function Keyboard.keyPressed 0
push constant 24576 
call Memory.peek 1
return

function Keyboard.readChar 2
label WHILE_0_EXP
// calculating while condition expression
push constant 1 
neg
not
if-goto WHILE_0_END
call Keyboard.keyPressed 0
pop local 1     // temp
// calculating if condition expression
push local 1     // temp
push constant 0 
eq 
not
if-goto ELSE_0
// calculating if condition expression
push local 0     // c
push constant 0 
eq 
not
not
if-goto ELSE_1
push local 0     // c
call Output.printChar 1
pop temp 0     // do call
push local 0     // c
return
label ELSE_1
goto FINISH_0
label ELSE_0
push local 1     // temp
pop local 0     // c
label FINISH_0
goto WHILE_0_EXP
label WHILE_0_END
push local 0     // c
return

function Keyboard.readLine 2
push constant 63 
call String.new 1
pop local 0     // str
push argument 0     // message
call Output.printString 1
pop temp 0     // do call
label WHILE_1_EXP
// calculating while condition expression
push constant 1 
neg
not
if-goto WHILE_1_END
call Keyboard.readChar 0
pop local 1     // c
// calculating if condition expression
push local 1     // c
push constant 128 
eq 
not
if-goto ELSE_2
push local 0     // str
return
label ELSE_2
// calculating if condition expression
push local 1     // c
push constant 129 
eq 
not
if-goto ELSE_3
call Output.backSpace 0
pop temp 0     // do call
push local 0     // str
call String.eraseLastChar 1
pop temp 0     // do call
label ELSE_3
// calculating if condition expression
push local 1     // c
push constant 0 
eq 
not
not
if-goto ELSE_4
push local 0     // str
push local 1     // c
call String.appendChar 2
pop temp 0     // do call
label ELSE_4
goto WHILE_1_EXP
label WHILE_1_END
push constant 5 
call String.new 1
push constant 69 
call String.appendChar 2
push constant 82 
call String.appendChar 2
push constant 82 
call String.appendChar 2
push constant 79 
call String.appendChar 2
push constant 82 
call String.appendChar 2
return

function Keyboard.readInt 2
push constant 63 
call String.new 1
pop local 0     // str
push argument 0     // message
call Output.printString 1
pop temp 0     // do call
label WHILE_2_EXP
// calculating while condition expression
push constant 1 
neg
not
if-goto WHILE_2_END
call Keyboard.readChar 0
pop local 1     // c
// calculating if condition expression
push local 1     // c
push constant 128 
eq 
not
if-goto ELSE_5
push local 0     // str
call String.intValue 1
return
label ELSE_5
// calculating if condition expression
push local 1     // c
push constant 129 
eq 
not
if-goto ELSE_6
call Output.backSpace 0
pop temp 0     // do call
push local 0     // str
call String.eraseLastChar 1
pop temp 0     // do call
label ELSE_6
// calculating if condition expression
push local 1     // c
push constant 0 
eq 
not
not
if-goto ELSE_7
push local 0     // str
push local 1     // c
call String.appendChar 2
pop temp 0     // do call
label ELSE_7
goto WHILE_2_EXP
label WHILE_2_END
push constant 32202 
neg
return
