
function String.new 0
push constant 2 
call Memory.alloc 1
pop pointer 0     // set this pointer
// calculating if condition expression
push argument 0     // maxLength
push constant 0 
gt 
not
if-goto ELSE_0
push argument 0     // maxLength
call Array.new 1
pop this 1     // container
label ELSE_0
push constant 0 
pop this 0     // length
push pointer 0 
return

function String.dispose 0
push argument 0 
pop pointer 0 
// calculating if condition expression
push this 1     // container
push constant 0 
eq 
not
not
if-goto ELSE_1
push this 1     // container
call Array.dispose 1
pop temp 0     // do call
label ELSE_1
push constant 0
return

function String.length 0
push argument 0 
pop pointer 0 
push this 0     // length
return

function String.charAt 0
push argument 0 
pop pointer 0 
push argument 1     // j
add
pop pointer 1 
push that 0 
return

function String.setCharAt 0
push argument 0 
pop pointer 0 
push argument 1     // j
add
pop temp 2 
push argument 2     // c
push temp 2 
pop pointer 1 
pop that 0 
push constant 0
return

function String.appendChar 0
push argument 0 
pop pointer 0 
push this 0     // length
add
pop temp 2 
push argument 1     // c
push temp 2 
pop pointer 1 
pop that 0 
push this 0     // length
push constant 1 
add
pop this 0     // length
push pointer 0 
return

function String.eraseLastChar 0
push argument 0 
pop pointer 0 
push this 0     // length
add
pop temp 2 
push constant 0 
call String.new 1
push temp 2 
pop pointer 1 
pop that 0 
push this 0     // length
push constant 1 
sub
pop this 0     // length
push constant 0
return

function String.intValue 5
push argument 0 
pop pointer 0 
push constant 1 
pop local 1     // time
push this 0     // length
push constant 1 
sub
pop local 0     // i
// calculating if condition expression
push constant 0 
add
pop pointer 1 
push that 0 
push constant 45 
eq 
not
if-goto ELSE_2
push constant 1 
neg
pop local 4     // negtive
push constant 0 
pop local 3     // boundry
goto FINISH_2
label ELSE_2
push constant 0 
pop local 4     // negtive
push constant 1 
neg
pop local 3     // boundry
label FINISH_2
label WHILE_0_EXP
// calculating while condition expression
push local 0     // i
push local 3     // boundry
gt 
not
if-goto WHILE_0_END
push local 2     // sum
push local 0     // i
add
pop pointer 1 
push that 0 
push constant 48 
sub
push local 1     // time
call Math.multiply 2
add
pop local 2     // sum
push local 1     // time
push constant 10 
call Math.multiply 2
pop local 1     // time
push local 0     // i
push constant 1 
sub
pop local 0     // i
goto WHILE_0_EXP
label WHILE_0_END
// calculating if condition expression
push local 4     // negtive
not
if-goto ELSE_3
push local 2     // sum
neg
return
goto FINISH_3
label ELSE_3
push local 2     // sum
return
label FINISH_3

function String.int2String 1
push argument 0 
pop pointer 0 
push argument 1     // v
push argument 1     // v
push constant 10 
call Math.divide 2
push constant 10 
call Math.multiply 2
sub
push constant 48 
add
pop local 0     // lastDigit
// calculating if condition expression
push argument 1     // v
push constant 10 
lt 
not
if-goto ELSE_4
push pointer 0 
push local 0     // lastDigit
call String.appendChar 2
pop temp 0     // do call
push local 0     // lastDigit
return
goto FINISH_4
label ELSE_4
push pointer 0 
push argument 1     // v
push constant 10 
call Math.divide 2
call String.int2String 2
pop temp 0     // do call
push pointer 0 
push local 0     // lastDigit
call String.appendChar 2
pop temp 0     // do call
push pointer 0 
return
label FINISH_4

function String.setInt 1
push argument 0 
pop pointer 0 
push constant 0 
pop this 0     // length
// calculating if condition expression
push argument 1     // v
push constant 0 
lt 
not
if-goto ELSE_5
push argument 1     // v
neg
pop argument 1     // v
push pointer 0 
push constant 45 
call String.appendChar 2
pop temp 0     // do call
label ELSE_5
push pointer 0 
push argument 1     // v
call String.int2String 2
pop temp 0     // do call
push constant 0
return

function String.backSpace 0
push constant 129 
return

function String.doubleQuote 0
push constant 34 
return

function String.newLine 0
push constant 128 
return
